{% extends "layout.html" %}
{% block body %}


<section>
  <div class="team-boxed" style="padding-top: 5vh;">

    <!-- <div class="container-md" style="background-image: url(breadcrumb.jpg); background-position: center;" width="100%">
      <nav aria-label="breadcrumb" >
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Doctors</li>
        </ol>
      </nav>
    </div> -->
        <div class="container">
          <div class="intro">
            <h2 class="text-center" style="color: #00a3c8; margin-bottom: 0;">Our Medical Specialist  </h2>
          </div>
          <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                  <div class="box"><img class="rounded-circle" src="../static/img/doctor1.jpg">
                    <h3 class="name">Jonathan Barnes D.M.</h3>
                        <p class="title">Cardiology</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. </p>
                        <a href="/profile">
                            <button class="pill-button" style="padding: 5px 15px; border-radius: 5px; margin-bottom: 15px;">
                              View Info
                            </button>
                        </a>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official" style="color: #3b5998;"></i></a><a href="#"><i class="fa fa-twitter" style="color: #00aced;"></i></a><a href="#"><i class="fa fa-instagram" style="color: #ea4c89;"></i></a></div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                      <div class="box"><img class="rounded-circle" src="../static/img/doctor2.jpg">
                        <h3 class="name">Hannah Harper D.M.</h3>
                        <p class="title">Anesthesiologist</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. </p>
                        <a href="">
                          <button class="pill-button" style="padding: 5px 15px; border-radius: 5px; margin-bottom: 15px;">
                            View Info
                          </button>
                        </a>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official" style="color: #3b5998;"></i></a><a href="#"><i class="fa fa-twitter" style="color: #00aced;"></i></a><a href="#"><i class="fa fa-instagram" style="color: #ea4c89;"></i></a></div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="../static/img/doctor4.jpg">
                        <h3 class="name">Megan Coleman D.M.</h3>
                        <p class="title">Neurosurgeon</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. </p>
                        <a href="">
                            <button class="pill-button" style="padding: 5px 15px; border-radius: 5px; margin-bottom: 15px;">
                              View Info
                            </button>
                        </a>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official" style="color: #3b5998;"></i></a><a href="#"><i class="fa fa-twitter" style="color: #00aced;"></i></a><a href="#"><i class="fa fa-instagram" style="color: #ea4c89;"></i></a></div>
                      </div>
                    </div>
            </div>
            <div class="row people">
              <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="../static/img/doctor3.jpg">
                  <h3 class="name">Matthew Anderson D.M.</h3>
                  <p class="title">Chief Medical Officer</p>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. </p>
                  <a href="">
                    <button class="pill-button" style="padding: 5px 15px; border-radius: 5px; margin-bottom: 15px;">
                      View Info
                    </button>
                        </a>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official" style="color: #3b5998;"></i></a><a href="#"><i class="fa fa-twitter" style="color: #00aced;"></i></a><a href="#"><i class="fa fa-instagram" style="color: #ea4c89;"></i></a></div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                      <div class="box"><img class="rounded-circle" src="../static/img/doctor5.jpg">
                        <h3 class="name">Robert Peterson D.M.</h3>
                        <p class="title">Allergist</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. </p>
                        <a href="">
                          <button class="pill-button" style="padding: 5px 15px; border-radius: 5px; margin-bottom: 15px;">
                            View Info
                          </button>
                        </a>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official" style="color: #3b5998;"></i></a><a href="#"><i class="fa fa-twitter" style="color: #00aced;"></i></a><a href="#"><i class="fa fa-instagram" style="color: #ea4c89;"></i></a></div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                      <div class="box"><img class="rounded-circle" src="../static/img/doctor6.jpg">
                        <h3 class="name">Joshua Elledge D.M.</h3>
                        <p class="title">Orthopaedics</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. </p>
                        <a href="">
                          <button class="pill-button" style="padding: 5px 15px; border-radius: 5px; margin-bottom: 15px;">
                            View Info
                            </button>
                        </a>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official" style="color: #3b5998;"></i></a><a href="#"><i class="fa fa-twitter" style="color: #00aced;"></i></a><a href="#"><i class="fa fa-instagram" style="color: #ea4c89;"></i></a></div>
                    </div>
                </div>
            </div>
            <!-- <div class="text-center">
              <a href="">
                <button class="pill-button" style="padding: 10px 15px; border-radius: 5px; margin-bottom: 15px;">
                  Meet All Doctors
                </button>
              </a>
            </div> -->
        </div>
      </div>
    
    </section>
 

{% endblock %}