{% extends "layout.html" %}
{% block body %}


<section class="form-page" >
    <div class="container" style=" padding: 3vh 0 7vh 0;">
        <h3 class="" style="color: #fff; font-weight: 600;">Book an Appointment</h3>
        <h6 style="color: #fff;">Kindly fill-in this form</h6>
        <br>
        <form action="" method="POST">
          {{form.hidden_tag()}}      

          <div class="form-floating mb-3">
            {{form.visit (class="form-control webForm", placeholder="Enter")}} 
            {{form.visit.label}}
          </div>
          <div class="form-floating mb-3">
            {{form.doctor (class="form-control webForm", placeholder="Enter")}} 
            {{form.doctor.label}}
          </div>
          <div class="form-floating mb-3">
              {{form.date (class="form-control webForm", placeholder="Enter")}} 
              {{form.date.label}}
          </div>
          <div class="form-floating mb-3">
            {{form.name (class="form-control webForm", placeholder="Enter")}} 
            {{form.name.label}}
          </div>
          <div class="form-floating mb-3">
              {{form.email (class="form-control webForm", placeholder="Enter")}} 
              {{form.email.label}}
          </div>
          <div class="form-floating mb-3">
              {{form.contact (class="form-control webForm", placeholder="Enter")}} 
              {{form.contact.label}}
          </div>   
          

          {{form.submit (class="pill-button", style="width:100%") }}
      
        </form>
            
            
    </div>
</section>
        
 
{% endblock %}