{% extends "layout.html" %}
{% block body %}


<section class="form-page">
    <div class="container" style="margin: auto;">
        <h3 class="" style="color: #fff;">Book an Appointment</h3>
        <h6>Kindly fill-in this form</h6>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="name">
          <label for="floatingInput">Full Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
            
            
    </div>
</section>
        
 
{% endblock %}