<section class="hero">
  
{% extends "layout.html" %}
{% block body %}

  <div class="container" style="padding: 7vh 0 12vh 0;">
    <div class="row ">
      <div class="col-lg-6" style="padding: 0 20px;" >
        <!-- Mashead text and app badges-->
        <div >
                    <h5 style="letter-spacing: 1px; line-height: 2rem; font-weight: 520; font-size: 26px sans, serif;">WELCOME TO MEDSERVICE</h5>

                    <h1> TAKE CARE OF YOUR HEALTH</h1>
                    <h6  style="padding: 10px 0;" class="lead fw-normal text-muted ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                      Sequi repellendus, quae neque culpa ipsum placeat laboriosam ! 
                    </h6>
                    
                    <div class="d-flex" style="padding: 10px 0;">
                      
                      <a href="#">
                        <button id="myBtn" class="pill-button" style="width: fit-content;">More About Clinic</button>
                      </a>
                      <a href="/doctor">
                        <button id="myBtn2" class="pill-button-alternate" style="width: fit-content; margin-left: 8px;">Our Professionals</button>
                      </a>
                    </div>
                    <br>
                    
                    <section id="counts" class="counts section-bg">
                      <div class="container">
                        
                        <div class="row d-none d-xl-flex">
                          <div class="col-lg-4 d-flex align-items-md-stretch">
                            <div class="count-box">
                              <span data-purecounter-start="0" data-purecounter-end="3865" data-purecounter-duration="2" class="purecounter"></span>
                              <h3>75<sup>+</sup></h3>
                              <h6>City Clinic</h6>
                              <h6 class="lead">Lorem ipsum dolor</h6>
                            </div>
                          </div>
                
                          <div class="col-lg-4  d-flex align-items-md-stretch">
                            <div class="count-box">
                              <span data-purecounter-start="0" data-purecounter-end="3865" data-purecounter-duration="2" class="purecounter"></span>
                              <h3>150 <sup>+</sup></h3>
                              <h6>Professional</h6>
                              <h6 class="lead">Lorem ipsum dolor</h6>
                            </div>
                          </div>
                
                          <div class="col-lg-4  d-flex align-items-md-stretch">
                            <div class="count-box">
                              <span data-purecounter-start="0" data-purecounter-end="3865" data-purecounter-duration="2" class="purecounter"></span>
                              <h3>35k <sup>+</sup></h3>
                              <h6>Happy Client</h6>
                              <h6 class="lead">Lorem ipsum dolor</h6>
                            </div>
                          </div>
                
                        </div>
                
                      </div>
                    </section><!-- End Counts Section -->
                </div>
            </div>
            <div class="col-lg-6 order-2 order-lg-2">
              <img style="width:80%; object-fit:cover ;" src="../static/img/hero1.png" alt="" srcset="">
            </div>
            
          </div>
    </div>
  </section>
  
  <section>
    <div class="container" style="padding: 6vh 10vw;">
      <div class="row ">
        <div class="col-lg-6 order-lg-1 order-2">
          <img src="../static/img/nurse.png" alt="" style="width:70%;">
        </div>
        
        <div class="col-lg-6 order-lg-2 order-1" style="margin-top: 50px;">
          <h5 style="color: #00a3c8;font-size: 17px; letter-spacing: 1px; padding-top: 1vh;"><strong>Welcome to MediCare</strong> </h5>
          
          <h4 style="padding-top: 2vh;color: #00a3c8;"><strong></strong> </h4> 
          <h1 style="font-size: 35px Mulish sans,serif; color: #040b11;">
            Complete Medical <br> Solutions in One Place
          </h1>

          <h4 style="padding-top: 2vh;font-size: 14px;">Porta semper lacus cursus, feugiat primis ultrice in ligula risus auctor tempus 
            feugiat dolor lacinia cubilia curae integer congue leo metus, eu mollislorem primis in orci 
            integer metus mollis faucibus. An enim nullam tempor sapien gravida donec pretium and ipsum porta 
            justo integer at velna vitae auctor integer congue
          </h4>
          
          
          <h5 style="padding-top: 2vh;font-size: small;">Randon Pexon, Head of Clinic</h5> 
          <div style="margin-top: 20px;">
            <img src="../static/img/signature.png" alt="" style="width: 30%; height: 10%;">
          </div>
        </div>
        
      </div>
    </div>
  </section>
  
  
  <section style="margin-bottom: 4vh;">
    <div class="team-boxed">
      <div class="container">
        <div class="intro">
          <h2 class="text-center" style="color: #00a3c8;">Our Medical Specialist  </h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
              </div>
              <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                  <div class="box"><img class="rounded-circle" src="../static/img/doctor1.jpg">
                    <h3 class="name">Jonathan Barnes D.M.</h3>
                    <p class="title">Cardiology</p>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. </p>
                          <div class="social"><a href="#"><i class="fa fa-facebook-official" style="color: #3b5998;"></i></a><a href="#"><i class="fa fa-twitter" style="color: #00aced;"></i></a><a href="#"><i class="fa fa-instagram" style="color: #ea4c89;"></i></a></div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="../static/img/doctor2.jpg">
                        <h3 class="name">Hannah Harper D.M.</h3>
                        <p class="title">Anesthesiologist</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. </p>
                          <div class="social"><a href="#"><i class="fa fa-facebook-official" style="color: #3b5998;"></i></a><a href="#"><i class="fa fa-twitter" style="color: #00aced;"></i></a><a href="#"><i class="fa fa-instagram" style="color: #ea4c89;"></i></a></div>
                        </div>
                      </div>
                <div class="col-md-6 col-lg-4 item">
                  <div class="box"><img class="rounded-circle" src="../static/img/doctor4.jpg">
                        <h3 class="name">Megan Coleman D.M.</h3>
                        <p class="title">Neurosurgeon</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official" style="color: #3b5998;"></i></a><a href="#"><i class="fa fa-twitter" style="color: #00aced;"></i></a><a href="#"><i class="fa fa-instagram" style="color: #ea4c89;"></i></a></div>
                      </div>
                    </div>
                  </div>
            <div class="text-center">
              <a href="/doctor">
                <button class="pill-button" style="padding: 10px 15px; border-radius: 5px; margin-bottom: 15px;">
                  Meet All Doctors
                </button>
              </a>
            </div>
          </div>
      </div>
    </section>
    
    <section style="padding: 80px 0;">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-5" style="position: relative; padding: 0 15px;">
            <div class="txt-block" style="visibility: visible; padding: 40px 20px; background: #00a3c8; color: #fff;">
              <h5 style="font-family: 'Lato', sans-serif; font-weight: 700; letter-spacing: -0.25px;">Opening Hours</h5>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis dolore excepturi voluptatibus
              </p>
              
              <table class="bg-white" style="margin: 18px;">
                <tbody>
                  <tr style="border-bottom: 1px dashed #fff;">
                    <td >Mon - Wed</td>
                    <td> - </td>
                    <td class="text-right">9:00 AM - 6:00 PM</td>
                  </tr>
                  <tr style="border-bottom: 1px dashed #fff;">
                    <td>Thur - Fri</td>
                    <td> - </td>
                    <td class="text-right">9:00 AM - 3:00 PM</td>
                  </tr>
                  <tr style="border-bottom: 1px dashed #fff;">
                  <td>Sat - Sun</td>
                  <td> - </td>
                  <td class="text-right">Closed</td>
                </tr>
                
              </tbody>
            </table>
            <h6 style="font-family: 'Lato', sans-serif; font-weight: 700; letter-spacing: -0.25px;">Kindly Please Take Note of our Time Schedule</h6>
          </div>
        </div>
        <div class="col-lg-7 d-none d-xl-block">
          <img src="../static/img/info-8.jpg" alt="" style="width:100%;">
        </div>
        
      </div> 
    </div>
  </section>
  
  {% endblock %}