{% extends "layout.html" %}
{% block body %}


<section class="section about-section" style="padding: 8vh 0;">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6 order-lg-1 order-2">
                <div class="about-text go-to">
                    <h3 class="dark-color">Dr. Jonathan Barnes D.M.</h3>
                    <h6 class="theme-color lead">Neurologist / Epilepsy Specialist / Cardiologist</h6>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam delectus, dolore praesentium aliquid impedit quos et! Exercitatione.</p>
                    <div class="row about-list">
                      <div class="col-md-6">
                            <div class="media">
                                <label>Degrees</label>
                                <p>M.D. of Medicine</p>
                            </div>
                            <div class="media">
                              <label>Areas of Expertise</label>
                              <ul>
                                    <li>
                                      <p>Neurology</p>
                                    </li><li>
                                      <p>Immunology</p>
                                    </li><li>
                                        <p>Internal Medicine</p>
                                    </li>
                                </ul>
                                
                            </div>
                            <div class="media">
                              <label>E-mail</label>
                                <p>info@domain.com</p>
                              </div>
                              <div class="media">
                                <label>Language(s)</label>
                                <p>English / Spanish / German</p>
                              </div>
                            </div>
                        <div class="col-md-6">
                            <div class="media">
                              <label>Residence</label>
                              <p>Canada</p>
                            </div>
                            <div class="media">
                              <label>Address</label>
                              <p>California, USA</p>
                            </div>
                            <div class="media">
                              <label>Phone</label>
                              <p>820-885-3321</p>
                            </div>
                            <div class="media">
                              <label>Skype</label>
                              <p>skype.0404</p>
                            </div>
                            <div class="media">
                              <label>Work Days</label>
                              <p>Tuesday - Thursday</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="margin: 20px;">
                  <a href="/form">
                    <button class="pill-button">
                      Book Appointment
                    </button>
                  </a>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-1">
              <div class="about-avatar">
                <img src="../static/img/doctor3.jpg" title="" alt="" width="100%">
              </div>
              <div class="counter">
                <div class="row">
                  <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                      <h6 class="count h2" data-to="500" data-speed="500">500</h6>
                                <p class="m-0px font-w-600">Happy Clients</p>
                              </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                              <h6 class="count h2" data-to="150" data-speed="150">150</h6>
                              <p class="m-0px font-w-600">Project Completed</p>
                            </div>
                          </div>
                          <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="850" data-speed="850">850</h6>
                                <p class="m-0px font-w-600">Photo Capture</p>
                            </div>
                          </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="190" data-speed="190">190</h6>
                                <p class="m-0px font-w-600">Telephonic Talk</p>
                              </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        
    </div>
</section>


{% endblock %}