{% extends "layout.html" %}
{% block body %}


<section class="section about-section" style="padding: 8vh 0;">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6 order-lg-1 order-2">
                <div class="about-text go-to">
                    <h3 class="dark-color">Dr. Joshua Elledge</h3>
                    <h6 class="theme-color lead">ORTHOPAEDICS</h6>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam delectus, dolore praesentium aliquid impedit quos et! Exercitatione.</p>
                    <div class="row about-list">
                      <div class="col-md-6">
                            <div class="media">
                                <label>Degrees</label>
                                <p>M.D. of Medicine</p>
                            </div>
                            <div class="media">
                              <label>Areas of Expertise</label>
                              <ul>
                                    <li>
                                      <p>ORTHOPAEDICS</p>
                                    </li>
                                </ul>
                                
                            </div>
                            <div class="media">
                              <label>E-mail</label>
                                <p>joshua13@gmail.com</p>
                              </div>
                              <div class="media">
                                <label>Language(s)</label>
                                <p>English / Spanish</p>
                              </div>
                            </div>
                        <div class="col-md-6">
                            <div class="media">
                              <label>Residence</label>
                              <p>Spain</p>
                            </div>
                            <div class="media">
                              <label>Address</label>
                              <p>Getafe, Madrid</p>
                            </div>
                            <div class="media">
                              <label>Phone</label>
                              <p>280-885-2661</p>
                            </div>
                            <div class="media">
                              <label>SnapChat</label>
                              <p>joshua13</p>
                            </div>
                            <div class="media">
                              <label>Work Days</label>
                              <p>Tuesday - Saturday</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="margin: 20px;">
                  <a href="/form">
                    <button class="pill-button">
                      Book Appointment
                    </button>
                  </a>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-1">
              <div class="about-avatar">
                <img src="../static/img/doctor6.jpg" title="" alt="" width="100%">
              </div>
              <div class="counter">
                <div class="row">
                        <div class="col-6 col-lg-4">
                          <div class="count-data text-center">
                            <h6 class="count h2" data-to="500" data-speed="500">90</h6>
                                      <p class="m-0px font-w-600">Happy Clients</p>
                          </div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <div class="count-data text-center">
                              <h6 class="count h2" data-to="150" data-speed="150">83</h6>
                              <p class="m-0px font-w-600">Project Received</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="190" data-speed="190">80</h6>
                                <p class="m-0px font-w-600">Successful Project</p>
                              </div>
                        </div>
                      </div>
              </div>
            </div>
        </div>
        
    </div>
</section>


{% endblock %}