{% extends "layout.html" %}
{% block body %}

<section>
    <div class="container" style="text-align: center; padding: 40px 0;">
        <div class="card" style="background: white; padding: 60px; border-radius: 5px; box-shadow: 0 2px 3px #C8D0D8; display: inline-block; margin: 0 auto;">
            <div style="border-radius:200px; height:200px; width:200px; background: #d9dcd5; margin:0 auto;">
              <i class='bx bx-check' style="color: #82ae42; font-size: 100px; line-height: 200px; margin-left:-15px;"></i>
            </div>
            <h4 style="color: #82ae42; font-weight: 900; font-size: 30px; margin-bottom: 10px;">Appointment Booked</h4> 
            <p style="color: #404F5E; font-size:18px; margin: 0;">We received your appointment request<br/> we'll be in touch shortly!</p>
            
            <a href="/">
            <button class="pill-button" style="margin-top: 2vh;">Back to Homepage</button>
            </a>
        </div>
    </div>
</section>

{% endblock %}